<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
      }
      li {
        clear: both;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
      .lists-wrapper, .todos-wrapper {
        display: inline-block;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <div class="lists-wrapper">
      <h4>Todo Lists</h4>
      <form id="form-list">
        <input id="name" type="text" name="name" data-id="{{ active_list.id }}"/>
        <input type="submit" value="Create" />
      </form>
      <ul id="lists">
        {% for list in lists %}
        <li>
          <input class="check-completed-list" data-id"{{ list.id }}" type="checkbox" />
          <a href="/lists/{{ list.id }}">{{ list.name }}</a>
          <button class="delete-list" data-id="{{ list.id }}">&cross;</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="todos-wrapper">
      <h4>{{ active_list.name }} Tasks</h4>
      <form id="form-todo">
        <input id="list_id" type="hidden" value="{{ active_list.id }}" />
        <input id="description" type="text" name="description" />
        <input type="submit" value="Create" />
      </form>
      <div id="error" class="hidden">
        An error has occurred. Please try again.
      </div>
      <ul id="todos">
        {% for todo in todos %}
        <li>
          <input id="completed" class="check-completed-todo" data-id="{{ todo.id }}" type="checkbox" name="completed" {% if todo.completed %} checked {% endif %} />
          {{ todo.description}}
          <button class="delete-todo" data-id="{{ todo.id }}">&cross;</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <script>
      let deleteButtons;
      const listCheckboxes = document.querySelectorAll('.check-completed-list');
      for (let i = 0; i < listCheckboxes.length; i++) {
        const listCheckbox = listCheckboxes[i];
        listCheckbox.onchange = function(e) {
          if (e.target.checked) {
            const listId = e.target.dataset['id'];
            fetch('/lists/' + listId + '/set-completed', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              }
            })
            .then(function(jsonResponse) {
              document.getElementById('error').className = "hidden";
              const todoCheckboxes = document.querySelectorAll('.check-completed-todo');
              for (let i = 0; i < todoCheckboxes.length; i++) {
                const todoCheckbox = todoCheckboxes[i];
                todoCheckbox.checked = true;
              }
            })
            .catch(function() {
              document.getElementById('error').className = "";
            });
          }
        }
      }
      const todoCheckboxes = document.querySelectorAll('.check-completed-todo');
      for (let i = 0; i < todoCheckboxes.length; i++) {
        const todoCheckbox = todoCheckboxes[i];
        todoCheckbox.onchange = function(e) {
          const newCompletedTodo = e.target.checked;
          const todoId = e.target.dataset.id;
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompletedTodo
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function(jsonResponse) {
            document.getElementById('error').className = "hidden";
          })
          .catch(function() {
            document.getElementById('error').className = "";
          });
        }
      }
      deleteButtons = document.querySelectorAll('.delete-todo');
      for (let i = 0; i < deleteButtons.length; i++) {
        const deleteButton = deleteButtons[i];
        deleteButton.onclick = function(e) {
          const todoId = e.target.dataset.id;
          fetch('/todos/' + todoId + '/delete', {
            method: 'DELETE'
          })
          .then(function() {
            // console.log('event', e);
            const item = e.target.parentElement;
            item.remove();
            document.getElementById('error').className = "hidden";
          })
          .catch(function() {
            document.getElementById('error').className = "";
          });
        };
      }
      deleteListButtons = document.querySelectorAll(".delete-list");
      for (let i = 0; i < deleteListButtons.length; i++) {
        const deleteButton = deleteListButtons[i];
        deleteButton.onclick = function(e) {
          const listId = e.target.dataset.id;
          fetch('/lists/' + listId + '/delete', {
            method: 'DELETE'
          })
          .then(function() {
            const item = e.target.parentElement;
            item.remove();
            document.getElementById("error").className = "hidden";
          })
          .catch(function() {
            document.getElementById("error").className = "";
          });
        };
      }
      document.getElementById("form-list").onsubmit = function(e) {
        e.preventDefault();
        fetch('/lists/create', {
          method: 'POST',
          body: JSON.stringify({
            "name": document.getElementById("name").value
          }),
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          const liListItem = document.createElement("LIList");
          liListItem.innerHTML = jsonResponse["name"];
          document.getElementById("lists").appendChild(liListItem);
          document.getElementById("error").className = "hidden";
          window.location.reload(true);
        })
        .catch(function() {
          document.getElementById("error").className = "";
        })
      }
      document.getElementById("form-todo").onsubmit = function(e) {
        e.preventDefault();
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            "description": document.getElementById("description").value,
            "list-id": document.getElementById("list_id").value
          }),
          headers: {
            "Content-Type": "application/json"
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          const liItem = document.createElement("LI");
          liItem.innerHTML = jsonResponse["description"];
          document.getElementById("todos").appendChild(liItem);
          document.getElementById("error").className = "hidden";
          window.location.reload(true);
        })
        .catch(function() {
          document.getElementById("error").className = "";
        })
      }
    </script>
  </body>
</html>
